# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other
*.swp
*.dSYM
*.conf
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
nagnu
src/.deps/
src/.dirstamp
