# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other
*.swp
*.dSYM
*.conf
Makefile
nagnu
excludes

# Autotools

autom4te.cache
aclocal.m4
compile
depcomp
install-sh
missing
stamp-h1
config.log
ABOUT-NLS
ChangeLog
autoscan.log
config.h
config.rpath
configure.ac
config.status
